@font-face {
    font-family: 'head' ;
    src: url(fonts/SecularOne-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(175deg,rgb(236, 247, 239),rgb(23, 207, 115));
    padding-top: 4%;
    padding-left: 10%;
    color: rgb(252, 144, 13);
    font-family: 'head';
    line-height: 60px;
    display: flex;
    flex-direction: column;
 
    
}
img{
    width: 40px;
}
.edit{
    width: 20px;
}

.container button{
    border: 0;
    outline: 0;
    border-radius: 50px;
    background-color: rgb(16, 217, 83);
    color: rgb(6, 6, 6);
    padding: 5px;
    font-size: 15px;
    font-family: 'head';
    width: 130px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;


}
button:hover{
    background-color: rgb(255, 255, 255);
}

.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background-color: white;
    margin: 20px 0;
    outline: none;
    padding: 20px;
    border-radius: 5px;
    color: rgb(24, 164, 103);
    font-family: 'Courier New', Courier, monospace;
    line-height: 20PX;


}
.input-box img{
    width: 25px;
    position: absolute;
    right: 10px;
    bottom: 5px;
    cursor: pointer;

}